# ETL Processes

### Running create_cluster.py will:
##### 1. Create the IAM role
##### 2. Attach read only policy to it
##### 3. Create Cluster
##### 4. Test Connection

In [3]:
%run -i 'create_cluster.py'

Creating a new IAM Role
An error occurred (EntityAlreadyExists) when calling the CreateRole operation: Role with name dwhRole already exists.
Attach Read Only Access Policy to Role
Cluster Created
Waiting for cluster to be available
Waiting for cluster to be available
Waiting for cluster to be available
Waiting for cluster to be available
Waiting for cluster to be available
Waiting for cluster to be available
Waiting for cluster to be available
Cluster Available
An error occurred (InvalidPermission.Duplicate) when calling the AuthorizeSecurityGroupIngress operation: the specified rule "peer: 0.0.0.0/0, TCP, from port: 5439, to port: 5439, ALLOW" already exists
Connected

### With create_tables.py we drop each table before creating it.

##### We create Staging, Facts and dimesion tables.

In [4]:
%run -i 'create_tables.py'

Drop Tables if they exists
Droping table: staging_events
Droping table: staging_songs
Droping table: songplays
Droping table: user
Droping table: song
Droping table: artist
Droping table: time
Create Tables
Creating table: staging_events
Creating table: staging_songs
Creating table: user
Creating table: song
Creating table: artist
Creating table: time
Creating table: songplays

### We run etl.py to:
##### 1. Load all the data to staging tables
##### 2. Insert from staging tables the data to dimension and facts tables

In [5]:
%run -i 'etl.py'

Copy data to staging tables
Copying to table: staging_events
Copying to table: staging_songs
Inserting into Facts and Dimension tables
Inserting to table: user
Inserting to table: song
Inserting to table: artist
Inserting to table: time
Inserting to table: songplays

### With analytics.py we count for the facts and dimesion table the number of records

In [6]:
%run -i 'analytics.py'

Running
    SELECT COUNT(*) FROM staging_events

    8056
Running
    SELECT COUNT(*) FROM staging_songs

    14896
Running
    SELECT COUNT(*) FROM songplays

    333
Running
    SELECT COUNT(*) FROM users

    104
Running
    SELECT COUNT(*) FROM songs

    14896
Running
    SELECT COUNT(*) FROM artists

    10025
Running
    SELECT COUNT(*) FROM time

    6813